<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	
	{# Customize these Tags! #}
	<meta name="og:description" content=" ">
	<meta name="description" content="Prolog – A design and development studio founded by Daniel Eytan Schneider and Tobias Rechsteiner with offices in Basel and Berlin.">

	<title>{{ siteName }}{% if title is defined %} - {{ title }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
 	<link rel="stylesheet" href="/css/styles.css"/>
</head>

<body {% if title is defined %}class="{{ title }}"{% endif %}>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
			<nav>
				<div class="burger">
						<div class="burger" onclick="menu()">
							<span></span>
							<span></span>
							<span></span>
						</div> Menu
						</div>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>
	<script type="text/javascript" src="/js/main.js"></script>
	<script>
		function menu() {
			document.getElementById("header").classList.toggle("active");
		}
	</script>

</body>
</html>
